# =========================
# Gradle / Build
# =========================
.gradle/
build/
app/build/
*/build/
gradle/

# =========================
# Local Configuration
# =========================
local.properties

# =========================
# IDE (Android Studio / IntelliJ)
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS / System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# APK / Generated Outputs
# =========================
*.apk
*.aab
*.ap_
*.dex
*.class

# =========================
# Temporary / Cache
# =========================
.externalNativeBuild/
.cxx/
*.tmp
*.swo

# =========================
# Keystore (IMPORTANT)
# =========================
*.jks
*.keystore

# =========================
# Miscellaneous
# =========================
*.orig
*.rej
*.zip
*.tar.gz
*.tar
*.7z
*.rar
*.gz
*.tgz
*.lock
*.bin
*.db
*.sqlite
*.sublime-workspace
*.sublime-project
Sensys_logo.svg
Sensys_logo.png